* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --fontOne:'Rubik', sans-serif;
    --moderateBlue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --lightGrayishBlue: hsl(239, 57%, 85%);
    --paleRed: hsl(357, 100%, 86%);
    --darkBlue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --lightGray: hsl(223, 19%, 93%);
    --veryLightGray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
    --purple: hsl(228, 45%, 44%);
}

body {
    height: 100%;
    font-family: var(--fontOne);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--veryLightGray);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.replieBox {
    border-left: 2px solid var(--lightGray);
}

.replieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 20px;

}


.commentBlock1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.userPicture {
    width: 35px;
    margin-right: 15px;
}

.userName {
    color: var(--darkBlue);
    font-size: 1.6rem;
    margin-right: 15px;
}

.you {
    color: var(--white);
    background-color: var(--moderateBlue);
    font-size: 1.3rem;
    padding: 2px 6px;
    border-radius: 2.5px;
    margin-right: 10px;
    translate: -5px;
    
}

.commentDate {
    color: var(--grayishBlue);
    font-size: 1.6rem;
    order:1;
}

.commentText {
    color: var(--grayishBlue);
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.commentBlock2 {
    display: flex;
}

.replyTo {
    color: var(--moderateBlue);
    font-size: 1.6rem;
    font-weight: bold;
}

.commentBlock3 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightGray);
    width: 100px;
    padding: 10px;
    border-radius: 15px;
}

.score, .replay {
    font-size: 1.6rem;
    color: var(--moderateBlue);
    font-weight: bold;
}

.deleteText {
    font-size: 1.6rem;
    color: var(--softRed);
    font-weight: bold;
}

.plusScore {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url(./images/icon-plus.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.minusScore {
    display: inline-block;
    width: 11px;
    height: 3px;
    background-image: url(./images/icon-minus.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.replayContainer {
    width: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}

.editContainer {
    width: 75px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}

.deleteContainer {
    width: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.replayIcon {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url(./images/icon-reply.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.editIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(./images/icon-edit.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.deleteIcon {
    display: inline-block;
    width: 12px;
    height: 14px;
    background-image: url(./images/icon-delete.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.commentBlock4 {
    display: flex;
}

.newBlock1 {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--lightGray);
    color: var(--grayishBlue);
    font-size: 1.6rem;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.newBlock2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendButton {
    width: 115px;
    height: 50px;
    background-color: var(--moderateBlue);
    color: var(--white);
    border:none;
    font-family: var(--fontOne);
    font-size: bold;
    font-size: 1.6rem;
    border-radius: 10px;

}

.attribution { 
    font-size: 1.1rem;
    text-align: center;
}
.attribution a {
    color: var(--purple);
}