@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --mainFont: 'Rubik', sans-serif;

    --moderateBlue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --lightGrayishBlue: hsl(239, 57%, 85%);
    --paleRed: hsl(357, 100%, 86%);
    
    
    --darkBlue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --lightGray: hsl(220, 7%, 84%);
    --veryLightGray: hsl(227, 100%, 96%);
    --white: hsl(0, 0%, 100%);

}

body {
    font-family: var(--mainFont);
}

span {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.minusIcon {
    background-image: url('./assets/images/icon-minus.svg');
}

.minusIcon:hover {
    background-image: url('./assets/images/icon-minus-hover.svg');
}

.plusIcon {
    background-image: url('./assets/images/icon-plus.svg');
}

.plusIcon:hover {
    background-image: url('./assets/images/icon-plus-hover.svg');
}

.deleteIcon {
    background-image: url('./assets/images/icon-delete-copy.svg');
    background-size: contain;
    opacity: 0%;
}

.deleteIcon:hover {
    background-image: url('./assets/images/icon-delete.svg');
    opacity: 75%;
}

.usersMenu:hover .deleteIcon {
    opacity: 50%;
}

textarea:hover, textarea:focus,input:hover,input:focus {
    border-color:var(--moderateBlue)
}

.inputImageContainer:hover {
    border-color: var(--moderateBlue);
}

.inputError, .inputError:hover, .inputError:focus {
    border-color:var(--softRed)
}

img {
    border-radius: 50%;
}


/* Para navegadores WebKit */
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}
  
/* Para navegadores Mozilla Firefox */
input[type="file"]::-moz-file-upload-button {
    cursor: pointer;
  }
  
/* Para navegadores más modernos */
input[type="file"]::file-selector-button {
    cursor: pointer;
}